dist/
localSettings.js
node_modules/
.idea/
.nyc_output/
coverage/
pack
.env
.env.local
.env.production
yarn.lock
yarn-error.log
*.DS_Store
# package-lock.json
assets/certs/*
.DS_Store
backend/public
backend/logs/*
boss/build/*

.env.dev
